<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/user/update/<%= user.id %>" method="POST">
          <input
            type="text"
            name="name"
            value="<%= user.name %>"
            placeholder="Nombre"
            class="form-control mb-3"
            autofocus
          />
          <input
          type="text"
          name="surname"
          value="<%= user.surname %>"
          placeholder="Apellido"
          class="form-control mb-3"
          autofocus
        />
          <input
            type="text"
            name="email"
            value="<%= user.email%>"
            placeholder="Email"
            class="form-control mb-3"
          />
          <input
            type="text"
            name="password"
            value="<%= user.password%>"
            placeholder="Password"
            class="form-control mb-3"
          />

          <button type="submit" class="btn btn-primary">save user</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
